body{
background-color:#84FFFF;
background-image: url(https://cdn.pixabay.com/photo/2014/12/30/08/11/parquet-583691_960_720.jpg);

}

.inlineB{
  display:inline-block;
  font-family: monospace;
  font-style: normal;
  font-size: 30px;
  margin:20px;
}
nav{
  position:absolute;
  right: 25px;
}


#logo{
  position: relative;
  margin: auto;
  width: 200px;
  top: 250px;
  }
  #logo div{
    width: 0;
    height:0;
    border-top: 75px solid red;
    border-left: 75px solid transparent;
    border-bottom: 75px solid tansparent;
    display: block;
    margin: auto;


  }
#logo img{
  top:-46px;
  position: absolute;
  width:160%;
  display: block;
  }

#story p{
  float: left;
}
#story{
  display: inline;
}
#fare p{
  float: right;
}
#fare{
  display: inline;
}
#localdistillation p{
  float:left;
}
#imglocaldistillation  {
	width: 50px;
	height: 50px;
}
#localdistillation{
  display: inline;
}
#img h4{
  width: 200px;
  height: 50px;
  margin: auto;
  display: inline;

}
